# dir 不需要提交的目录
/_book
/node_modules
​
# file 不需要提交的文件
# config.ini
​
# log 不需要提交的任意包含后缀名为log的文件
# *.log
​
# Package Files 不需要提交的任意包含后缀名为jar的文件
# *.jar
/.vs
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/public
resources/
node_modules/
package-lock.json
.hugo_build.lock
yarn.lock